@yellow: #FBDE2D;
@red: #E51919;
@orange: #FF7800;
@black: #000;
@white: #fff; 
@light-gray: #F8F8F8;
@gray: #AEAEAE;
@white-transparent: rgba(255, 255, 255, 0.65);
@magenta-transparent: rgba(255, 50, 173, 0.35);
@invalid: #AB2A1D;
