.syntax--css,
.syntax--less,
.syntax--sass {
    .syntax--entity {
        color: @red;
    }

    .syntax--variable {
        color: @yellow;
    }
    .syntax--property-name {
        color: @orange;
    }

    .syntax--comment {
        color: @gray;
    }
}
