// CSS/LESS/SASS Styles
.source.css,
.source.less,
.source.sass {
  .variable {
    color: @yellow;
  }
  .property-name {
    color: @yellow;
  }
  .comment {
    color: @gray;
  }
  .entity {
    color: @red;
  }
}
