.html {
  .tag.name {
    color: @red;
  }
  .attribute.angular {
    font-style: italic;
  }
  .attribute-name.angular {
    vertical-align: baseline;
    font-family: 'flottflott';
    font-style: normal;
    height: inherit;
    font-size: 1.5em;
    line-height: 1rem;
    color: @yellow;
  }
}
