.syntax--gfm {
    color: @red;

    .syntax--heading {
        color: @orange;
        vertical-align: baseline;
        font-family: 'flottflott';
        height: inherit;
        font-size: 1.7em;
        line-height: 1rem;
    }

    .syntax--raw {
        color: @white;
    }

    .syntax--link {
        font-weight: bold;
        color: @orange;
    }
}
